//Обнуляющий стиль
@import "_null";

body {
	font-family: "Inter", sans-serif;
	background: #fff;
	color: #131313;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

.header {
	// .header__container

	&__container {
	}

	// .header__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__menu

	&__menu {
		margin: 0px 70px 0px 0px;
	}
}
.logo {
	// .logo__img

	&__img {
	}
}
.menu {
	// .menu__list

	&__list {
		display: flex;
	}

	// .menu__item

	&__item {
		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}
	}

	// .menu__link

	&__link {
		padding: 42px 20px;
		text-transform: uppercase;
		line-height: 1.21;
		transition: all 0.5s;
		&:hover {
			background-color: #131313;
			color: #fff;
		}
	}
}

.bike {
	// .bike__container

	&__container {
	}

	// .bike__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 100px 0px 150px 0px;
	}

	// .bike__column

	&__column {
		&-slider {
			flex-basis: 630px;
			margin: 0px 0px 0px 30px;
			max-width: 630px;
		}
	}

	// .bike__title

	&__title {
		font-weight: 700;
		font-size: 64px;
		margin: 60px 0px 5px 0px;
	}

	// .bike__sub-title

	&__sub-title {
		font-size: 32px;
		color: #6f6f6f;
		margin: 0px 0px 60px 0px;
	}

	// .bike__text

	&__text {
		margin: 0px 0px 20px 0px;
		max-width: 420px;
	}

	// .bike__link

	&__link {
		display: inline-block;
		margin: 80px 0px 0px 0px;
		padding: 28px 72px 28px 72px;
		font-size: 20px;
		letter-spacing: 1.1em;
		text-transform: uppercase;
		color: #ffffff;
		background-color: #131313;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: #ff4040;
		}
	}

	&-slider {
		.slick-dots {
			top: 52px;
			right: 0;
		}
		// .bike-slider__item

		&__item {
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		margin: 25px 65px 0px 0px;

		// .bike__list-item

		&-item {
			display: flex;
			flex-direction: column;
			min-width: 160px;
			align-items: center;
			text-align: center;
			min-height: 58px;
		}

		// .bike__list-num

		&-num {
			font-weight: 700;
			text-transform: uppercase;
		}

		// .bike__list-text

		&-text {
			font-size: 12px;
			line-height: 1.25;
			margin: auto 0;
		}
	}
}

.slick-dots {
	position: absolute;
	li:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	button {
		font-size: 0;
		width: 2px;
		height: 25px;
		background-color: #131313;
		border-radius: 7px;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: #ff4040;
		}
	}
}

.slick-active {
	button {
		background-color: #ff4040;
	}
}

.info {
	// .info__container

	&__container {
	}

	// .info__inner

	&__inner {
		display: flex;
		margin: 0px 0px 150px 0px;
	}

	// .info__img

	&__img {
		margin: 0px 60px 0px 0px;
		flex-basis: 570px;
		object-fit: cover;
	}

	// .info__content

	&__content {
		flex-basis: 490px;
	}

	// .info__item

	&__item {
		&:not(:last-child) {
			margin: 0px 0px 50px 0px;
		}
	}

	// .info__item-title

	&__item-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.18;
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;
	}

	// .info__item-text

	&__item-text {
		max-width: 450px;
		line-height: 1.21;
	}
}

.feature {
	// .feature__container

	&__container {
	}

	// .feature__head

	&__head {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.18;
		text-transform: uppercase;
		margin: 0px 0px 40px 0px;
	}

	// .feature__inner

	&__inner {
		display: flex;
		margin: 0px 0px 150px 0px;
	}

	// .feature__items

	&__items {
		flex-basis: 570px;
		margin: 0px 60px 0px 0px;
	}

	// .feature__list

	&__list {
		padding: 0px 0px 31px 0px;
	}

	// .feature__title

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		background-color: #131313;
		color: #ffffff;
		padding: 2px 0px 3px 0px;
		margin: 0px 0px 13px 0px;
	}

	// .feature__line

	&__line {
		display: flex;
		margin: 0px 0px 5px 0px;
	}

	// .feature__name

	&__name {
		flex-basis: 285px;
		padding: 0px 25px 0px 0px;
	}

	// .feature__desc

	&__desc {
		flex-basis: 285px;
	}

	// .feature__img

	&__img {
		align-self: center;
		flex-basis: 570px;
	}
}

.slider {
	// .slider__container

	&__container {
	}

	// .slider__inner

	&__inner {
		margin: 0px 0px 50px 0px;
	}

	// .slider__items

	&__items {
		.slick-dots {
			top: 0;
			left: 0;
		}
	}

	// .slider__item

	&__item {
		padding: 0px 0px 0px 50px;
	}

	// .slider__img

	&__img {
	}
}

.price {
	// .price__container

	&__container {
	}

	// .price__inner

	&__inner {
		margin: 0px 0px 100px 0px;
		position: relative;
	}
}
.form {
	max-width: 420px;

	// .form__title

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.18;
		text-transform: uppercase;
		margin: 0px 0px 41px 0px;
	}

	// .form__text

	&__text {
		margin: 0px 0px 29px 0px;
		max-width: 300px;
	}

	// .form__btn

	&__btn {
		display: inline-block;
		margin: 50px 0px 0px 0px;
		padding: 28px 72px 28px 72px;;
		font-size: 20px;
		letter-spacing: 1.1em;
		text-transform: uppercase;
		color: #ffffff;
		background-color: #131313;
		cursor: pointer;
		transition: all 0.5s;
		&:hover {
			background-color: #ff4040;
		}
	}

	// .form__input-name

	&__input-name {
		width: 100%;
		border: none;
		border-bottom: 1px solid #131313;
		padding: 5px 0px 10px 5px;
		margin: 0px 0px 20px 0px;
		outline: none;
		&::placeholder {
			color: #6f6f6f;
			opacity: 0.5;
		}
	}

	// .form__input-phone

	&__input-phone {
		width: 100%;
		border: none;
		border-bottom: 1px solid #131313;
		padding: 5px 0px 10px 5px;
		margin: 0px 0px 20px 0px;
		outline: none;
		&::placeholder {
			color: #6f6f6f;
			opacity: 0.5;
		}
	}

	// .form__input-text

	&__input-text {
		color: #6f6f6f;
		opacity: 0.5;
		margin: 0px 0px 10px 0px;
	}

	// .form__label-box

	&__label-box {
		display: flex;
		margin: 0px 0px 50px 0px;
	}

	// .form__label

	&__label {
		&:not(:last-child) {
			margin: 0px 23px 0px 0px;
		}
	}

	// .form__input-radio

	&__input-radio {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		&:checked {
			~ .form__radio-style {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			}
			+ .form__bike {
				display: block;
			}
		}
	}

	// .form__bike

	&__bike {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
	}

	// .form__bike-img

	&__bike-img {
	}

	// .form__bike-price

	&__bike-price {
		font-size: 32px;
		line-height: 1.21;
		position: absolute;
		top: 28px;
		right: 0;
		left: 0;
		width: 221px;
		height: 112px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateX(-40%);
		border: 1px solid #ff4040;
		border-radius: 50%;
		&::after {
			content: "";
			position: absolute;
			width: 221px;
			height: 112px;
			top: 12px;
			border: 1px solid #ff4040;
			border-radius: 50%;
		}
	}

	// .form__radio-style

	&__radio-style {
		border-radius: 30px;
		width: 80px;
		height: 12px;
	}

	// .form__radio-style_grey

	&__radio-style_grey {
		background: #6f6f6f;
	}

	// .form__radio-style_white

	&__radio-style_white {
		background: #ffffff;
		border: 1px solid #6f6f6f;
		border-radius: 30px;
	}

	// .form__radio-style_red

	&__radio-style_red {
		background: #ff4040;
	}
}
