@charset "UTF-8";
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  margin: 0px 70px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.menu__link {
  padding: 42px 20px;
  text-transform: uppercase;
  line-height: 1.21;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

.bike__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 0px 0px 0px;
}

.bike__column-slider {
  -ms-flex-preferred-size: 630px;
      flex-basis: 630px;
  margin: 0px 0px 0px 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  margin: 60px 0px 5px 0px;
}

.bike__sub-title {
  font-size: 32px;
  color: #6f6f6f;
  margin: 0px 0px 60px 0px;
}

.bike__text {
  margin: 0px 0px 20px 0px;
  max-width: 420px;
}

.bike__link {
  display: inline-block;
  margin: 80px 0px 0px 0px;
  padding: 28px 72px 28px 72px;
  font-size: 20px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.bike__link:hover {
  background-color: #ff4040;
}

.bike-slider .slick-dots {
  top: 52px;
  right: 0;
}

.bike__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 65px 0px 0px;
}

.bike__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 58px;
}

.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  font-size: 12px;
  line-height: 1.25;
  margin: auto 0;
}

.slick-dots {
  position: absolute;
}

.slick-dots li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.slick-dots button {
  font-size: 0;
  width: 2px;
  height: 25px;
  background-color: #131313;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-dots button:hover {
  background-color: #ff4040;
}

.slick-active button {
  background-color: #ff4040;
}

.info {
  padding: 150px 0px 0px 0px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 50px 0px;
}

.info__img {
  margin: 0px 60px 0px 0px;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__content {
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
}

.info__item:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.info__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.info__item-text {
  max-width: 450px;
  line-height: 1.21;
}

.feature {
  padding: 100px 0px 0px 0px;
}

.feature__head {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

.feature__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 50px 0px;
}

.feature__items {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  margin: 0px 60px 0px 0px;
}

.feature__list {
  padding: 0px 0px 31px 0px;
}

.feature__title {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #131313;
  color: #ffffff;
  padding: 2px 0px 3px 0px;
  margin: 0px 0px 13px 0px;
}

.feature__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 5px 0px;
}

.feature__name {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
  padding: 0px 25px 0px 0px;
}

.feature__desc {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
}

.feature__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
}

.slider__inner {
  margin: 0px 0px 50px 0px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding: 0px 0px 0px 50px;
}

.price__inner {
  margin: 0px 0px 100px 0px;
  position: relative;
}

.form {
  max-width: 420px;
}

.form__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  margin: 0px 0px 41px 0px;
}

.form__text {
  margin: 0px 0px 29px 0px;
  max-width: 300px;
}

.form__btn {
  display: inline-block;
  margin: 50px 0px 0px 0px;
  padding: 28px 72px 28px 72px;
  font-size: 20px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form__btn:hover {
  background-color: #ff4040;
}

.form__input-name {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding: 5px 0px 10px 5px;
  margin: 0px 0px 20px 0px;
  outline: none;
}

.form__input-name::-webkit-input-placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-name:-ms-input-placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-name::-ms-input-placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-name::placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding: 5px 0px 10px 5px;
  margin: 0px 0px 20px 0px;
  outline: none;
}

.form__input-phone::-webkit-input-placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-phone:-ms-input-placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-phone::-ms-input-placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-phone::placeholder {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__input-text {
  color: #6f6f6f;
  opacity: 0.5;
  margin: 0px 0px 10px 0px;
}

.form__label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 50px 0px;
}

.form__label:not(:last-child) {
  margin: 0px 23px 0px 0px;
}

.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked ~ .form__radio-style {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__input-radio:checked + .form__bike {
  display: block;
}

.form__bike {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__bike-price {
  font-size: 32px;
  line-height: 1.21;
  position: absolute;
  top: 28px;
  right: 0;
  left: 0;
  width: 221px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
          transform: translateX(-40%);
  border: 1px solid #ff4040;
  border-radius: 50%;
}

.form__bike-price::after {
  content: "";
  position: absolute;
  width: 221px;
  height: 112px;
  top: 12px;
  border: 1px solid #ff4040;
  border-radius: 50%;
}

.form__radio-style {
  border-radius: 30px;
  width: 80px;
  height: 12px;
}

.form__radio-style_grey {
  background: #6f6f6f;
}

.form__radio-style_white {
  background: #ffffff;
  border: 1px solid #6f6f6f;
  border-radius: 30px;
}

.form__radio-style_red {
  background: #ff4040;
}

.footer {
  background-color: #131313;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  color: #ffffff;
}

.footer__link {
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.25;
}

.footer__social-link:not(:last-child) {
  margin: 0px 26px 0px 0px;
}

.footer__contacts {
  font-size: 12px;
  line-height: 1.25;
}

.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-link:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.footer__contacts-img {
  margin: 0px 10px 0px 0px;
}
